* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    background-image: url("../img/bg.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    position: relative;
}

a {
    cursor: pointer;
    text-decoration: none;
    transition: none 86ms ease-out;
}

a:hover {
    color: #5FB878;
}

.el-menu--horizontal {
    border: 0 !important;
}